<h2>Celebrities Game</h2>
<form action="/celebrities/create" method="post" >
Name: <input type="text" name="name">
Occupation: <input type="text" name="occupation">
Catch Phrase: <input type="text" name="catchphrase">
<button type="submit"></button>
</form>
